html, body {
    height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
}

#root {
    height: 100%;
    background: #212529;
}

.w-15 {
    width: 15% !important;
}

.h-15 {
    height: 15% !important;
}

.h-70 {
    height: 70% !important;
}

textarea {
    resize: none;
}

.unocard {
    position: relative;
    bottom: 0;
    transition: bottom 0.3s ease-out;
}
.unocard:hover {
    bottom: 15px;
}

.unplayable {
    filter: saturate(15%);
}